{% extends "layouts/project.html" %}
{% block head %}
    <title>Saathvika</title>
    <script>
        function changeImage() {

            if (document.getElementById("imgClickAndChange").src.includes('/static/assets/SAwithoutmask.JPG'))
            {
                document.getElementById("imgClickAndChange").src = "/static/assets/SAwithmask.JPG";
            }
            else{
                document.getElementById("imgClickAndChange").src ="/static/assets/SAwithoutmask.JPG"
            }
        }

        function getWiki() {
            fetch("https://hargrimm-wikihow-v1.p.rapidapi.com/steps?count=3", {
                "method": "GET",
                "headers": {
                    "x-rapidapi-host": "hargrimm-wikihow-v1.p.rapidapi.com",
                    "x-rapidapi-key": "60a050bd05msh74aa096ce4eab1cp1830c5jsn1612bc7b6d1f"
                }
            })
                .then(response => response.json())  // convert to json
                .then(json => {
                    console.log(json);    //print data to console
                    document.getElementById("display-lyric1").innerText = json["1"];
                    document.getElementById("display-lyric2").innerText = json["2"];
                    document.getElementById("display-lyric3").innerText = json["3"];
                })

                .catch(err => {
                    console.error(err);
                });
        }


        let intervalX;
        let distance;

        // 3 values for hours minutes and seconds, only for display
        let hours = 0;
        let minutes = 0;
        let seconds = 0;

        // If stoppingCondition is false, the distance variable gets reduced by 1 per second.
        let stoppingCondition = true;
        // Prevents the function from being run more than once.
        let isStarted = false;
        function setTime () {

            // Stops the timer.
            stoppingCondition = true;
            // Gets the user input.
            const hours_distance = document.getElementById("hours_time").value;
            const minutes_distance = document.getElementById("minutes_time").value;
            const seconds_distance = document.getElementById("seconds_time").value;
            // Turns distance into hours/minutes/seconds.
            // APPARENTLY THE CODE DOESN'T WORK, UNLESS I DIVIDE IT BY SOMETHING??!?!??!
            // So I'll divide it by 1. If I don't, inputting 10 seconds will somehow turn into 1000 seconds.
            // FOR NO REASON!!! Same for minutes and hours.
            distance = (seconds_distance / 1) + (minutes_distance * 60 / 1) + (hours_distance * 3600 / 1);

            // Display values for hours, minutes, and seconds.
            hours = hours_distance / 1;
            minutes = minutes_distance / 1;
            seconds = seconds_distance / 1;

            // Commented this line of code out, didn't know what it did
            // clearInterval(intervalX);

            // Sets the text to the user input.
            document.getElementById("demo").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
        }

        function resumeTime() {
            // Starts the timer.
            stoppingCondition = false;

            // Prevents the function from being run more than once.
            if (isStarted == false) {
                intervalX = setInterval(function () {

                    // Prevents the function from being run more than once.
                    isStarted = true;

                    // Find the distance between now and the count down date

                    // If stoppingCondition is false, the distance variable gets reduced by 1 per second.
                    if (stoppingCondition == false) {
                        distance -= 1;
                    }

                    // Changes display values
                    // I could have just used this instead of the distance variable, but at this point I'm too lazy to change it
                    // If you all feel like cleaning up the code:
                    // you'd change the EXPIRED code down below to read (if hours, minutes, and seconds < 0) instead of the current (if distance < 0)
                    // and get rid of the distance variable in the setTime function and the let statement up above.
                    // I'm not sure if there are other things, so I don't want to change it for now. The code works, so it works.
                    if (stoppingCondition == false) {
                        seconds = seconds - 1;
                        if (seconds < 0) {
                            seconds = 59;
                            minutes = minutes - 1;
                        }
                        if (minutes < 0) {
                            minutes = 59;
                            hours = hours - 1;
                        }
                    }

                    // Time calculations for days, hours, minutes and seconds
                    // Commented out because we're no longer using the date-time system
                    // const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    // const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    // const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    // const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Display the result in the element with id="demo"
                    document.getElementById("demo").innerHTML = hours + "h " + minutes + "m " + seconds + "s " /*days + "d " + hours + "h " + minutes + "m " + seconds + "s "*/;

                    // If the count down is finished, write some text
                    if (distance < 0) {
                        // Commented this line of code out, caused a bug where the timer wouldn't start again after EXPIRED'ing
                        // clearInterval(intervalX);
                        document.getElementById("demo").innerHTML = "EXPIRED";
                    }
                }, 1000);
            }
        }

        function stopTime() {
            stoppingCondition = true;
        }

    </script>
{% endblock %}
{% block body %}
    <div style="background-image: url('../../../static/assets/SAbg.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover">
        <div style="text-align:center; font-family: monospace; font-size: larger; width: 65%; margin: 0 auto 5%;" >
            <div>
                <h1 style="background-color: rgba(83,105,122, 0.8); font-family: 'Blippo'; font-size: 75px; text-align: center; padding: 20px; color: papayawhip; text-shadow: 5px 4px black;">Saathvika Ajith</h1>
                <p style="background-color: rgba(83,105,122, 0.8); font-size: 24px; color: papayawhip; font-family: monospace">Hello there <span id="myName">{{name}}friend</span>, welcome to my individual homepage!</p>
                <form style="padding: 5px; font-size: 17px; background-color: rgba(83,105,122, 0.8); color: papayawhip; font-family: monospace" action="/saathvika/" id="saathvika2" method="POST" >
                    <label for="name">Enter Your Name!</label>
                    <input name="name" id="name">
                    <input type="submit" value="Go!" onclick="(function (){document.getElementById('myName').innerText=document.getElementById('name').value})();return false;">
                </form>
            </div>
            <br>
            <div>
                <p style="background-color: rgba(83,105,122, 0.8); font-size: 20px; font-family: monospace; color: papayawhip">
                    <img src="/static/assets/SAwithmask.jpg" style="height: 350px; width: auto;" id="imgClickAndChange" onclick="changeImage()" alt="change"/>
                    <br>
                    Click me!
                </p>
                <p style="background-color: rgba(83,105,122, 0.8); font-size: 20px; color: papayawhip; font-family: monospace">Trimester Work: <br>
                    <a style="color: #99ba6d" href="https://docs.google.com/document/d/1mfrMqXhbkRceC4fq3nXZMLD8jo5IjC2mwAsvpqjQX94/edit?usp=sharing">Daily Journal</a>
                    <br><a style="color: #99ba6d" href="https://docs.google.com/document/d/1OkAMgzNODur6Gtonz_EuvoDeVXUnaMvdthtZnsBjXwU/edit">Create Task Planning TPT Notes</a>
                    <br><a style="color: #99ba6d" href="https://docs.google.com/document/d/1OkAMgzNODur6Gtonz_EuvoDeVXUnaMvdthtZnsBjXwU/edit">StudyOwl BrainWrite</a>
                    <br><a style="color: #99ba6d" href="https://github.com/samayass/flask_portfolio#readme">ReadMe</a>
                </p>
                <div style="background-color: rgba(83,105,122, 0.8)">
                    <p style="font-size: 50px; padding-top: 15px; color: #99ba6d; font-family: Blippo">Out of Context WikiHow API:</p>
                    <button id="get-lyric" style="height: 35px; font-family: monospace; font-size: 15px; color: black; background-color: papayawhip" onclick="getWiki()">Get me some Instructions!</button>
                    <div id="display-lyric1" style="margin-top: 25px; font-size: 30px; color: #99ba6d; font-weight: 600; font-family: monospace; text-align: center">No Text Yet</div>
                    <div id="display-lyric2" style="margin-top: 10px; font-size: 30px; color: #99ba6d; font-weight: 600; font-family: monospace; text-align: center">No Text Yet</div>
                    <div id="display-lyric3" style="margin-top: 10px; font-size: 30px; color: #99ba6d; font-weight: 600; font-family: monospace; text-align: center">No Text Yet</div>
                </div>
                <br>
                <div style="background-color: rgba(83,105,122, 0.8);" >
                    <p style="font-size: 25px; color: papayawhip; font-family: monospace">Timer:</p>
                    <p style="font-size: 50px; color: #99ba6d; font-family: Blippo" id="demo"></p>
                    <label style="font-size: 20px; color: papayawhip; font-family: monospace">Enter Hours:</label>
                    <input style="font-family: monospace" id="hours_time" placeholder="1"><br>
                    <label style="font-size: 20px; color: papayawhip; font-family: monospace">Enter Minutes:</label>
                    <input style="font-family: monospace" id="minutes_time" placeholder="30"><br>
                    <label style="font-size: 20px; color: papayawhip; font-family: monospace">Enter Seconds:</label>
                    <input style="font-family: monospace" id="seconds_time" placeholder="0"><br>
                    <button id="get-time" style="height: 35px; font-family: monospace; font-size: 15px; color: black; background-color: papayawhip" onclick="setTime()">Set Timer!</button> <br>
                    <small style="color: #99ba6d">Format: 1h 30m 0s</small> <br>
                    <button id="get-time" style="height: 35px; font-family: monospace; font-size: 15px; color: black; background-color: papayawhip" onclick="resumeTime()">Start Timer!</button>
                    <button id="get-time" style="height: 35px; font-family: monospace; font-size: 15px; color: black; background-color: papayawhip" onclick="stopTime()">Pause Timer!</button>
                </div>
            </div>
            <br><br>
        </div>
    </div>
{% endblock %}
