$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);
$color-gray-light: rgba($color-white, .15);
$color-gray-dark: rgba($color-black, .15);

/* light mode */
/* selects the original element of the html document */
:root {
  --color-page-background: #{$color-gray-dark};
  --color-text: #{$color-black};
  --color-border: #{$color-black};
}

/* dark mode */
.dark {
  --color-page-background: #{$color-black};
  --color-text: #{$color-white};
  --color-border: #{$color-white};
}


body {
  background-color: var(--color-page-background);
  color: var(--color-text);
}


.switch {
  position: fixed;
  right: 2rem;
  top: 2rem;
  background-color: var(--color-black);
  border: 0px solid var(--color-text);
  color: var(--color-text);
  text-align: center;
  width: 60px;
  height: 34px;
}


button {
  text-decoration: none;
}