<h2>Sticky Notes</h2>

<form action="notepad" id="notes" method="POST" >
    <label for="note">Enter Text</label>
    <input name="note" id="note">
    <input type="submit" value="Post It!">
</form>

<input type="button" value="Add" id="add" />
<input type="button" value="Delete" id="del" />

<div id="board">
    <div class="stickyNote">
        <!--        <h2>Sticky #1</h2>-->
        <p>{{note}}</p>
    </div>
</div>

<style>
    #board {
        text-decoration:none;
        color:#000;
        background:#ffc;
        display:block;
        height:10em;
        width:10em;
        padding:1em;
        box-shadow: 5px 5px 5px gray;
        margin: 1em;
    }

    table, th, td {
        border: 1px solid black;
        width: 50%;
    }
</style>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let $board = $('#board');
    var i = 0;
    $('#add').click(function () {
        i++;
        let class_name = "stickyNote" + i.toString();
        $board.append('<div class={{class_name}}><p>{{note}}</p></div>');
        $('#board').addClass(class_name);
        // document.getElementsByClassName(increment).innerHTML=increment;
    });
    $('#del').click(function () {
        let class_name = "stickyNote" + i.toString();
        let elem = document.getElementsByClassName(class_name);
        elem.parentNode.removeChild(elem);
    });

</script>