<!DOCTYPE html>
<html lang="en">
<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/templates.html" %}
<head>
    <meta charset="UTF-8">
    <title>Random Advice Generator</title>
</head>

{% block body %}

    <body style="background-color: #FDF589; align-content: center">
    <h1 class="text-center" style="margin-top: 3%;color: black;">Random Advice</h1>

    <div class="container">
        <div class="center-block" style="margin: 2% 5% 5%; font-family: 'Monotype Corsiva'">
            <div class="col-12" style="text-align: center;">
                <h2 style="color:darkgoldenrod">Random Advice Generator</h2>
                <form action={{url_for('randomadvice')}}>
                    <button style="color: darkgoldenrod">Refresh for New Advice!</button>
                </form>
                <br>
            </div>
            <!-- Input and Content -->
            <div class="jumbotron text-center">
                <div class="col-md">
                </div>
                <p style="font-family: monospace; color: darkgoldenrod" class="setup">{{advice.advice}}</p>
            </div>
        </div>

    </div>






    <style> table, th, td {
        border: 1px solid darkgoldenrod;
        text-align: center;
        border-collapse: collapse;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        background-color: black;}
    </style>

    </body>

    </html>

{% endblock %}