{% extends "layouts/project.html" %}
{% block body %}
    <!DOCTYPE html>
    <div style = " margin: 2% 5% 5%; text-align:left; font-family: Helvetica;">
        <div>
            <h1 style id="StudyRoom" >StudyRoom</h1>
        </div>
    </div>

    <style>
        body{
            background: #F5F5F5 ;
        }
        #StudyRoom{
            position: relative;
            font-family: 'Helvetica';
            font-size: 60px;
            font-weight: 800;
            text-align: left;
            padding: 15px;
            color: #374db9;
        }
    </style>
{% endblock %}