{% extends "layouts/project.html" %}
{% block body %}
    <!DOCTYPE html>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/studyRoom.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/linda.js"></script>
    <body id="bodyStudyroom" style="background-image: url(/static/assets/studyBackground2.gif); background-size:cover;">
    <style>

        .navbar{
            z-index: 100;
            width: 100%;
            margin-bottom: 20px;
        }

    </style>


        <div id="wrapper">

            <div style="display: flex">
                <div>
            <audio loop controls autoplay>
                <source src="/static/rain.mp3" type="audio/mpeg">
            </audio>
                </div>

                <div>
            <audio loop controls autoplay>
                <source src="/static/jazz.mp3" type="audio/mpeg">
            </audio>
                </div>

            <!-Digital Clock->
            <div class="container" id="clock" style="display: block; margin-left:350px">

                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />


                <div id="clock" style="font-family: cursive">8:10:45</div>

                <script src="/static/js/clock.js"></script>
            </div>
            </div>

            <div style="margin-top: -100px;text-align:left; font-family: Baskerville; font-size: larger;">

                <div>

                    <h1 style="text-shadow: 4px 4px #232C33;background-color: rgba(105,105,105,0.5); text-align: center; width: 40%;">Study Room</h1>



                    <!-Todo List->
                   <div style="margin-left:-200px">
                    <div style="display: flex"> <button style="width:60px" id="show-todo" onclick="showTodo()"><img src="https://th.bing.com/th/id/OIP.VjQF4ZjCQrpTZxMCo-PdFgHaHa?w=218&h=218&c=7&r=0&o=5&dpr=2&pid=1.7" alt="Plus Sign" width="15" height="15"></button> <div style="color: white;margin-top: 28px; margin-left:5px;font-family: cursive; background-color: rgba(112, 112, 112, 0.51)"> Todo List </div> </div>
                    <div style="margin-left:-5px"; class="container" id="todo-list">

                        <h3>Add Item</h3>
                        <p>
                            <input id="new-task" type="text"><button onclick="addTask()">Add</button>
                        </p>

                        <h3>Todo</h3>
                        <ul id="incomplete-tasks">
                            <li><input type="checkbox"><label>Math Homework</label><input type="text"><button class="edit">Edit</button><button class="delete">Delete</button></li>
                            <li><input type="checkbox"><label>History Reading</label><input type="text" value="Go Shopping"><button class="edit">Edit</button><button class="delete">Delete</button></li>
                        </ul>

                        <h3>Completed</h3>
                        <ul id="completed-tasks">
                            <li><input type="checkbox" checked><label>Essay Final Draft</label><input type="text"><button class="edit">Edit</button><button class="delete">Delete</button></li>
                        </ul>
                    </div>
                </div>

                    <br>

                    <!- Change Backgrounds _>
                    <div> <button id="background-button1" onclick="changeBackground()"> <img src="/static/assets/studyBackground2.gif" alt="studyBackground1" width="120px" height="82px"> </button> </div>
                    <div> <button id="background-button2" onclick="changeBackground2()"> <img src="/static/assets/studyBackground4 (1).gif" alt="studyBackground2" width="120px" height="82px"> </button> </div>
                    <div> <button id="background-button3" onclick="changeBackground3()"> <img src="/static/assets/studyBackground3.gif" alt="studyBackground3" width="120px" height="82px"> </button> </div>
                    <div> <button id="background-button4" onclick="changeBackground4()"> <img src="/static/assets/studyBackground1.gif" alt="studyBackground4" width="120px" height="82px"> </button> </div>
                    <div> <button id="background-button5" onclick="changeBackground5()"> <img src="/static/assets/studyBackground6 (1).jpg" alt="studyBackground5" width="120px" height="82px"> </button> </div>


                    <!-Random Motivational Quote Api->
                    <div style="margin-top:350px;margin-left:-200px">
                        <div style="display:flex"> <button id="get-quote" style="margin-top: 20px; margin-right: 10px; height: 35px;width:60px" onclick="newQuote()"><img src="/static/assets/STUD.png" alt="Stud" width="70px" height="70px" style="margin-top: -10px;"></button> <button id="on-off" style="color: black; margin-top: 20px;height: 35px;" onclick="onOff()"><img src="https://cdn0.iconfinder.com/data/icons/controls-and-navigation-arrows-3/24/146-512.png" alt="X Sign" width="15" height="15"></button> </div>
                        <div id="display-quote" style="margin-top: 10px; margin-right: 200px; font-size: 20px;color: white;font-weight: 600; text-align: left; background-color: rgba(112, 112, 112, 0.51)">No quote yet</div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    </body>


{% endblock %}