{% extends "layouts/project.html" %}
{% block body %}
    <!DOCTYPE html>

    <link rel="stylesheet" type="text/css" href="/static/css/studyRoom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/linda.js"></script>
    <body>
    <style>
        .button1 {
            background-color: white;
            color: grey;
            border: 3px solid #9CD8EC;
            text-decoration: none;
            margin: 4px 2px;
            padding: 3px 4px;
        }

        .button1:hover {
            background-color: whitesmoke;
            color: black;
        }
        .navbar{
            z-index: 900;
            width: 100%;
            margin-bottom: 20px;
        }

    </style>

    <div id="video_wrapper">
        <video autoplay muted loop>
            <source src="https://drive.google.com/uc?export=view&id=1yWXLFO320yVEiGrRJxm_hkEojwD2AVgr" type="video/mp4">
        </video>


        <div id="wrapper">
            <audio loop controls autoplay>
                <source src="/static/rain.mp3" type="audio/mpeg">
            </audio>
            <div style="text-align:left; font-family: Baskerville; font-size: larger">
                <div>

                    <h1>Study Room</h1>


                    <!-Random Motivational Quote Api->
                    <button id="get-quote" style="margin-top: 20px; margin-right: 800px; height: 35px" onclick="newQuote()">Get me a quote</button>
                    <button id="on-off" style="color: black; margin-top: 20px; margin-right: 800px; height: 35px" onclick="onOff()">On and off</button>
                    <div id="display-quote" style="margin-top: 10px; margin-right: 200px; font-size: 20px;color: white;font-weight: 600; text-align: left">No quote yet</div>

                    <br>


                    <!-Todo List->
                    <button id="show-todo" onclick="showTodo()">Show Todo List</button>
                    <div class="container" id="todo-list">
                        <h2>TODO LIST</h2>
                        <h3>Add Item</h3>
                        <p>
                            <input id="new-task" type="text"><button onclick="addTask()">Add</button>
                        </p>

                        <h3>Todo</h3>
                        <ul id="incomplete-tasks">
                            <li><input type="checkbox"><label>Math Homework</label><input type="text"><button class="edit">Edit</button><button class="delete">Delete</button></li>
                            <li><input type="checkbox"><label>History Reading</label><input type="text" value="Go Shopping"><button class="edit">Edit</button><button class="delete">Delete</button></li>
                        </ul>

                        <h3>Completed</h3>
                        <ul id="completed-tasks">
                            <li><input type="checkbox" checked><label>Essay Final Draft</label><input type="text"><button class="edit">Edit</button><button class="delete">Delete</button></li>
                        </ul>
                    </div>


                    <br>

                    <!-Digital Clock->
                    <div class="container" id="clock">

                        <meta charset="UTF-8" />
                        <meta name="viewport" content="width=device-width, initial-scale=1.0" />


                        <div id="clock">8:10:45</div>

                        <script src="/static/js/clock.js"></script>

                    </div>
                </div>
            </div>
    </body>


{% endblock %}