{% extends "layouts/project.html" %}
{% block body %}
    <!DOCTYPE html>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/studyRoom.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/linda.js"></script>
    <body>
    <style>

        .navbar{
            z-index: 100;
            width: 100%;
            margin-bottom: 20px;
        }

    </style>

    <div id="video_wrapper">
        <video autoplay muted loop>
            <source src="https://drive.google.com/uc?export=view&id=1yWXLFO320yVEiGrRJxm_hkEojwD2AVgr" type="video/mp4">
        </video>


        <div id="wrapper">

            <div style="display: flex">
                <div>
            <audio loop controls autoplay>
                <source src="/static/rain.mp3" type="audio/mpeg">
            </audio>
                </div>

                <div>
            <audio loop controls autoplay>
                <source src="/static/jazz.mp3" type="audio/mpeg">
            </audio>
                </div>

            <!-Digital Clock->
            <div class="container" id="clock" style="display: block; margin-left:350px">

                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />


                <div id="clock" style="font-family: cursive">8:10:45</div>

                <script src="/static/js/clock.js"></script>
            </div>
            </div>
            <div style="margin-top: -100px;text-align:left; font-family: Baskerville; font-size: larger">
                <div>

                    <h1 style="font-family: 'cursive'; color: coral; text-shadow: 4px 4px #232C33; size: 65px">Study Room</h1>


                    <!-Random Motivational Quote Api->
                    <div> <button id="get-quote" style="margin-top: 20px; margin-right: 10px; height: 35px;" onclick="newQuote()"><img src="/static/assets/STUD.png" alt="Stud" width="70" height="70" style="margin-top: -10px; background-repeat: no-repeat; border: none; cursor: pointer; overflow: hidden; alignment: center"></button> <button id="on-off" style="color: black; margin-top: 20px;height: 35px;" onclick="onOff()"><img src="https://cdn0.iconfinder.com/data/icons/controls-and-navigation-arrows-3/24/146-512.png" alt="X Sign" width="15" height="15"></button> </div>
                    <div id="display-quote" style="margin-top: 10px; margin-right: 200px; font-size: 20px;color: white;font-weight: 600; text-align: left">No quote yet</div>

                    <br>


                    <!-Todo List->
                    <div style="display: flex"> <button id="show-todo" onclick="showTodo()"><img src="https://th.bing.com/th/id/OIP.VjQF4ZjCQrpTZxMCo-PdFgHaHa?w=218&h=218&c=7&r=0&o=5&dpr=2&pid=1.7" alt="Plus Sign" width="15" height="15"></button> <div style="margin-top: 28px; margin-left:5px;font-family: cursive"> Todo List </div> </div>
                    <div style="margin-left:-5px"; class="container" id="todo-list">

                        <h3>Add Item</h3>
                        <p>
                            <input id="new-task" type="text"><button onclick="addTask()">Add</button>
                        </p>

                        <h3>Todo</h3>
                        <ul id="incomplete-tasks">
                            <li><input type="checkbox"><label>Math Homework</label><input type="text"><button class="edit">Edit</button><button class="delete">Delete</button></li>
                            <li><input type="checkbox"><label>History Reading</label><input type="text" value="Go Shopping"><button class="edit">Edit</button><button class="delete">Delete</button></li>
                        </ul>

                        <h3>Completed</h3>
                        <ul id="completed-tasks">
                            <li><input type="checkbox" checked><label>Essay Final Draft</label><input type="text"><button class="edit">Edit</button><button class="delete">Delete</button></li>
                        </ul>
                    </div>


                    <br>


                </div>
            </div>
        </div>
    </div>
    </body>


{% endblock %}